@import "../vars";
@import "../mixins";

.guitarists {
    position: relative;
    width: 100%;
    z-index: 100;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    &-container {
        width: 45%;
    }

    .guitarist-list {
        position: absolute;
        width: 45%;
        min-height: 50px;
        list-style: none;
        padding: 10px;
        margin: 0;
        background-color: #fff;
        box-shadow: 1px 1px 7px rgba(0,0,0,.3);
        max-height: 330px;
        overflow: scroll;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s;
        border-radius: 0 0 4px 4px;
        border-bottom: #ff9d3b 4px solid;
        border-top: #FF9D3B 2px solid;

        li {
            color: #ef7f10;
            border-bottom: 1px solid #ececec;

            &:hover {
                background-color: #fff9f3;
            }
        }
    }

    ul.active {
        opacity: 1;
        visibility: visible;
    }

    li {
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
        font-size: 22px;

        @include breakpoint('small') {
            font-size: 27px;
        }

        @include breakpoint('medium') {
            font-size: 30px;
        }
    }

    li:last-child {
        border: 0;
    }
}

input {
    font-size: 40px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #252525;
    color: #ff9d3b;
    border: 0;
    border-bottom: 2px solid;
    font-family: Barlow Condensed;
    padding: 10px;
    outline: none;

    @include breakpoint('small') {
        font-size: 50px;
    }

    @include breakpoint('medium') {
        font-size: 60px;
    }

    &::placeholder {
        color: #e6a769;
        font-size: 30px;
    
        @include breakpoint('small') {
            font-size: 40px;
        }
    
        @include breakpoint('medium') {
            font-size: 50px;
        }
    }
}
