@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:regular,bold);.song-selector {
  width: calc(45% - 20px);
  list-style: none;
  padding: 10px;
  border: 1px solid #815f3c;
  opacity: 0;
  visibility: hidden;
  margin: 28px 0 0;
  max-height: 130px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0; }
  .song-selector.active {
    opacity: 1;
    visibility: visible; }
  .song-selector li {
    color: #e88524;
    border-bottom: 1px solid #815f3c; }
    .song-selector li:hover {
      background-color: transparent;
      color: #ff7f01; }
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }
  .modal.open {
    display: flex; }

.feedback {
  width: 440px; }
  .feedback__tab {
    background-color: #ff9d3b;
    position: fixed;
    right: 0;
    top: calc(100% / 2 - 35px);
    font-size: 2.5rem;
    line-height: 4.4rem;
    text-align: center;
    font-family: 'Barlow Condensed';
    border-radius: 4px 0 0 4px;
    padding: 0px 16px;
    text-decoration: none;
    margin: 0;
    letter-spacing: 1px;
    height: 70px;
    z-index: 100; }
  .feedback form {
    background-color: #fff;
    width: 400px;
    max-width: 400px;
    height: 500px;
    border-radius: 0 0 0 4px;
    margin: 0;
    padding: 20px;
    box-shadow: 1px 1px 6px #444; }
  .feedback fieldset {
    border: 0;
    padding: 0; }
  .feedback h2 {
    font-size: 2rem;
    margin: 0 0 10px;
    color: #ef7700;
    font-weight: normal;
    position: relative; }
    .feedback h2 span {
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      bottom: 35px;
      right: -10px; }
  .feedback p {
    font-size: 1.2rem; }
  .feedback label {
    color: #ef7700;
    font-size: 1.4rem;
    margin-bottom: 10px;
    display: block; }
  .feedback input {
    color: #ef7700;
    font-size: 1.4rem;
    background-color: #fbf1e7;
    margin-bottom: 20px;
    border: 0; }
  .feedback textarea {
    font-size: 1.4rem;
    width: 100%;
    border: 0;
    resize: none;
    color: #ef7700;
    font-family: Barlow Condensed;
    height: 150px;
    padding: 10px;
    background-color: #fbf1e7;
    margin-bottom: 20px; }
  .feedback button {
    float: right;
    width: 100px;
    padding: 10px 20px;
    font-size: 1rem; }
  .feedback .btn {
    background-image: -webkit-linear-gradient(top, #ff9d3b, #fbb066);
    background-image: -moz-linear-gradient(top, #ff9d3b, #fbb066);
    background-image: -ms-linear-gradient(top, #ff9d3b, #fbb066);
    background-image: linear-gradient(to bottom, #ff9d3b, #fbb066);
    text-shadow: 1px 1px 3px #666666;
    color: #fff;
    cursor: pointer; }
    .feedback .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #fbb066, #ff9d3b);
      background-image: -moz-linear-gradient(top, #fbb066, #ff9d3b);
      background-image: -ms-linear-gradient(top, #fbb066, #ff9d3b);
      background-image: linear-gradient(to bottom, #fbb066, #ff9d3b);
      text-decoration: none; }
  .feedback [class*="--error"] {
    background-color: #ffd5d5; }
.recently-viewed h2 {
  color: #ff9d3b;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 80px 0 15px; }

.recently-viewed ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-bottom: 0; }
  .recently-viewed ul li {
    margin-right: 40px; }

.recently-viewed p {
  font-size: 1.2rem;
  margin: 5px 0; }

.recently-viewed p:first-child {
  color: #ff9d3b; }

.recently-viewed p:last-child {
  color: #fff;
  cursor: pointer; }
#root {
  width: 100%; }

body {
  background: #252525;
  font-family: 'Barlow Condensed';
  box-sizing: border-box;
  font-size: 14px; }

.content {
  margin: 3% auto;
  width: 100%; }
  @media (min-width: 650px) {
    .content {
      width: 580px; } }
  @media (min-width: 992px) {
    .content {
      width: 1000px; } }

.amp {
  background-color: #d7d8d6;
  width: 335px;
  height: 650px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto; }
  @media (min-width: 650px) {
    .amp {
      width: 580px;
      height: 470px; } }
  @media (min-width: 992px) {
    .amp {
      width: 1000px;
      height: 300px; } }

h1 {
  font-size: 40px;
  color: #ff9d3b;
  font-weight: normal;
  width: 100%;
  margin: 0 auto 10px;
  height: 80px; }
  @media (min-width: 650px) {
    h1 {
      font-size: 45px;
      margin: 0 0 10px;
      height: 60px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 50px; } }
  h1 span {
    color: #fff;
    font-size: 30px;
    display: block; }
    @media (min-width: 650px) {
      h1 span {
        display: inline-block; } }

.intro {
  color: #ff9d3b;
  font-size: 1.3rem;
  margin: 0 0 15px; }
.guitarists {
  position: relative;
  width: 100%;
  z-index: 100;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between; }
  .guitarists-container {
    width: 45%; }
  .guitarists .guitarist-list {
    position: absolute;
    width: 45%;
    min-height: 50px;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    max-height: 330px;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
    border-radius: 0 0 4px 4px;
    border-bottom: #ff9d3b 4px solid;
    border-top: #FF9D3B 2px solid; }
    .guitarists .guitarist-list li {
      color: #ef7f10;
      border-bottom: 1px solid #ececec; }
      .guitarists .guitarist-list li:hover {
        background-color: #fff9f3; }
  .guitarists ul.active {
    opacity: 1;
    visibility: visible; }
  .guitarists li {
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    font-size: 22px; }
    @media (min-width: 650px) {
      .guitarists li {
        font-size: 27px; } }
    @media (min-width: 992px) {
      .guitarists li {
        font-size: 30px; } }
  .guitarists li:last-child {
    border: 0; }

input {
  font-size: 40px;
  width: 100%;
  margin-bottom: 0px;
  background-color: #252525;
  color: #ff9d3b;
  border: 0;
  border-bottom: 2px solid;
  font-family: Barlow Condensed;
  padding: 10px;
  outline: none; }
  @media (min-width: 650px) {
    input {
      font-size: 50px; } }
  @media (min-width: 992px) {
    input {
      font-size: 60px; } }
  input::placeholder {
    color: #e6a769;
    font-size: 30px; }
    @media (min-width: 650px) {
      input::placeholder {
        font-size: 40px; } }
    @media (min-width: 992px) {
      input::placeholder {
        font-size: 50px; } }
.button-container {
  display: inline-block;
  position: relative;
  margin: 100px 18px 0; }

.type {
  margin: 0;
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px;
  text-transform: uppercase;
  font-size: 1.2rem; }
  @media (min-width: 992px) {
    .type {
      top: -70px; } }

.peg {
  position: absolute;
  font-size: 14px;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px; }
  .peg:before {
    content: '|';
    width: 1px;
    position: absolute;
    display: none; }
  .peg.zero {
    left: 40px;
    bottom: -20px; }
  .peg.zero:before {
    left: 10px;
    bottom: 13px;
    transform: rotate(20deg); }
  .peg.one {
    left: 12px;
    bottom: -2px; }
  .peg.one:before {
    left: 13px;
    bottom: 8px;
    transform: rotate(52deg); }
  .peg.two {
    left: -2px;
    bottom: 31px; }
  .peg.two:before {
    left: 15px;
    bottom: 1px;
    transform: rotate(90deg); }
  .peg.three {
    left: -1px;
    bottom: 67px; }
  .peg.three:before {
    left: 16px;
    bottom: -3px;
    transform: rotate(111deg); }
  .peg.four {
    left: 23px;
    bottom: 96px; }
  .peg.four:before {
    left: 11px;
    bottom: -10px;
    transform: rotate(146deg); }
  .peg.five {
    left: 59px;
    bottom: 108px; }
  .peg.five:before {
    left: 2px;
    bottom: -14px;
    transform: rotate(0deg); }
  .peg.six {
    left: 97px;
    bottom: 94px; }
  .peg.six:before {
    left: -4px;
    bottom: -10px;
    transform: rotate(35deg); }
  .peg.seven {
    left: 118px;
    bottom: 66px; }
  .peg.seven:before {
    left: -7px;
    bottom: -3px;
    transform: rotate(65deg); }
  .peg.eight {
    left: 120px;
    bottom: 32px; }
  .peg.eight:before {
    left: -9px;
    bottom: 0px;
    transform: rotate(90deg); }
  .peg.nine {
    left: 109px;
    bottom: 1px; }
  .peg.nine:before {
    left: -8px;
    bottom: 8px;
    transform: rotate(124deg); }
  .peg.ten {
    left: 80px;
    bottom: -20px; }
  .peg.ten:before {
    left: 3px;
    bottom: 13px;
    transform: rotate(155deg); }

button span {
  position: absolute;
  top: -5px;
  left: 46%; }

button.level-0 {
  transform: rotate(-162deg); }

button.level-0-5 {
  transform: rotate(-150deg); }

button.level-1 {
  transform: rotate(-136deg); }

button.level-1-5 {
  transform: rotate(-120deg); }

button.level-2 {
  transform: rotate(-102deg); }

button.level-2-5 {
  transform: rotate(-82deg); }

button.level-3 {
  transform: rotate(-70deg); }

button.level-3-5 {
  transform: rotate(-51deg); }

button.level-4 {
  transform: rotate(-36deg); }

button.level-4-5 {
  transform: rotate(-18deg); }

button.level-5 {
  transform: rotate(0deg); }

button.level-5-5 {
  transform: rotate(18deg); }

button.level-6 {
  transform: rotate(37deg); }

button.level-6-5 {
  transform: rotate(52deg); }

button.level-7 {
  transform: rotate(65deg); }

button.level-7-5 {
  transform: rotate(82deg); }

button.level-8 {
  transform: rotate(100deg); }

button.level-8-5 {
  transform: rotate(112deg); }

button.level-9 {
  transform: rotate(127deg); }

button.level-9-5 {
  transform: rotate(142deg); }

button.level-10 {
  transform: rotate(156deg); }

.knob-container {
  background-color: #e6e6e6;
  box-shadow: inset #262626 0 0px 0px 4px, inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px, inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px, inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px, rgba(0, 0, 0, 0.15) 0 -5px 6px 4px, rgba(255, 255, 255, 0.5) 0 5px 6px 4px;
  /* outer HL */
  border-radius: 80px;
  margin: 0px 12px;
  height: 100px;
  width: 100px; }

.knob {
  margin: 5px;
  font: bold 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: #333333;
  text-shadow: rgba(102, 102, 102, 0.5) 0 -1px 0, rgba(255, 255, 255, 0.6) 0 2px 1px;
  transition: color .2s;
  transition: all 1s; }

.knob.radial {
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.1) 3.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.2) 2.2%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); }

.knob.radial:before,
.knob.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  /* fake conical gradients */
  background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(100% 50%, 50% 6%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%); }

.knob.radial:before {
  transform: rotate(65deg); }

.knob.radial:after {
  transform: rotate(-65deg); }

.linear {
  background-image: -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%), -webkit-repeating-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, 0.03) 4.5%), -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%), linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%); }

button {
  border: none; }

a {
  text-decoration: none;
  display: block; }
