@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:regular,bold');
@import "../vars";
@import "../mixins";

#root {
  width: 100%;
}

body {
  background: #252525;
  font-family: 'Barlow Condensed';
  box-sizing: border-box;
  font-size: 14px;
}

.content {
  margin: 3% auto;
  width: 100%;

  @include breakpoint('small') {
    width: 580px;
  }

  @include breakpoint('medium') {
    width: 1000px;
  }
}

.amp {
  background-color: #d7d8d6;
  width: 335px;
  height: 650px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;

  @include breakpoint('small') {
    width: 580px;
    height: 470px;
  }

  @include breakpoint('medium') {
    width: 1000px;
    height: 300px;
  }
}

h1 {
  font-size: 40px;
  color: #ff9d3b;
  font-weight: normal;
  width: 100%;
  margin: 0 auto 10px;

  @include breakpoint('small') {
    font-size: 45px;
    margin: 0 0 10px;
  }

  @include breakpoint('medium') {
    font-size: 50px;
  }

  span {
    color: #fff;
    font-size: 30px;
    display: block;

    @include breakpoint('small') {
      display: inline-block;

    }  
  }
}

.intro {
  color: #ff9d3b;
  font-size: 1.3rem;
  margin: 0 0 15px;
}