@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:regular,bold');

body {
  background: #252525;
  font-family: 'Barlow Condensed';
  box-sizing: border-box;
  font-size: 14px;
}

.content {
  width: 1000px;
  margin: 5% auto;
}

.amp {
  background-color: #d7d8d6;
  width: 1000px;
  height: 300px;
  border-radius: 3px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0 0 10px;
  color: #ff9d3b;
  font-weight: normal;
  height: 60px;

  span {
    color: #fff;
    font-size: 30px;
  }
}

.intro {
  color: #ff9d3b;
  font-size: 1.3rem;
  margin: 0 0 15px;
}