@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:regular,bold');

body {
  background: #252525;
  font-family: 'Barlow Condensed';
  box-sizing: border-box;
  font-size: 14px;
}

.content {
  width: 1000px;
  margin: 5% auto;
}

.amp {
  background-color: #d7d8d6;
  width: 1000px;
  height: 300px;
  border-radius: 3px;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0 0 10px;
  color: #ff9d3b;
  font-weight: normal;
  height: 60px;

  span {
    color: #fff;
    font-size: 30px;
  }
}

.intro {
  color: #ff9d3b;
  font-size: 1.3rem;
  margin: 0 0 15px;
}

/* Metal ------------------------- */

.metal {
  position: relative;
  display: inline-block;
  position: relative;
  outline: none;
  margin: 0 20px;


  font: bold 2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
  inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
  inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
  inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

  hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
  hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */

  transition: color .2s;
  transition: all 1s;

  span {
    position: absolute;
    top: -5px;
    left: 46%;
  }

  &.level-0 {
    transform: rotate(-153deg)
  }

  &.level-0-5 {
    transform: rotate(-138deg)
  }

  &.level-1 {
    transform: rotate(-119deg);
  }

  &.level-1-5 {
    transform: rotate(-104deg);
  }

  &.level-2 {
    transform: rotate(-91deg);
  }

  &.level-2-5 {
    transform: rotate(-76deg);
  }

  &.level-3 {
    transform: rotate(-61deg);
  }

  &.level-3-5 {
    transform: rotate(-46deg);
  }

  &.level-4 {
    transform: rotate(-33deg);
  }

  &.level-4-5 {
    transform: rotate(-16deg);
  }

  &.level-5 {
    transform: rotate(0deg);
  }

  &.level-5-5 {
    transform: rotate(15deg);
  }

  &.level-6 {
    transform: rotate(30deg);
  }

  &.level-6-5 {
    transform: rotate(45deg);
  }

  &.level-7 {
    transform: rotate(60deg);
  }

  &.level-7-5 {
    transform: rotate(75deg);
  }

  &.level-8 {
    transform: rotate(90deg);
  }

  &.level-8-5 {
    transform: rotate(105deg);
  }

  &.level-9 {
    transform: rotate(120deg);
  }

  &.level-9-5 {
    transform: rotate(135deg);
  }

  &.level-10 {
    transform: rotate(150deg);
  }

}





/* Radial ------------------------- */

.radial.metal {
  width: 90px;
  height: 90px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
  -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
  -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
  -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
  -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

  -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


.metal.radial:before, .metal.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  /* fake conical gradients */
  background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
  -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
  -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
  -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.metal.radial:before { transform: rotate( 65deg); }
.metal.radial:after { transform: rotate(-65deg); }

.linear {
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
  -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

  linear-gradient(180deg, hsl(0,0%,78%)  0%,
          hsl(0,0%,90%) 47%,
          hsl(0,0%,78%) 53%,
          hsl(0,0%,70%)100%);
}